# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# Python - bytecode / caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Python - distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python - virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Python - testing / coverage
.cache/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.hypothesis/
.htmlcov/
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logging & temporary files
*.log
logs/
tmp/
temp/

/knowledge_base/
/reports/
/scripts/
/target/
/ingestion/
/tests/
/*.md

